@import url("properties.css");
@import url("custom.css");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

*{
    transition-duration: var(--transition-duration);
}

h1{ font-size: var(--h1-text-size); }

h2{ font-size: var(--h2-text-size); }

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-family: var(--font-family-primary);
}

p, a{
    font-size: var(--p-text-size);
    font-family: var(--font-family-secondary);
}

button{
    cursor: pointer;
    transition-duration: var(--transition-duration);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-small);
    font-size: var(--primary-bt-text-size);
    font-family: var(--font-family-primary);
    font-weight: 600;
}button i{
    transition-duration: var(--transition-duration);
    font-size: var(--p-text-size);
}

a{
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-small);
    transition-duration: var(--transition-duration);
    color: var(--current-text-color);
    text-decoration: none;
}


.a{
    opacity: 0.7;
    transition: opacity var(--transition-duration) ease-in-out;
}.a:hover{
    opacity: 1;
}

.aT{
    padding: 4px 0px 4px 0px;
    opacity: 0.8;
    font-weight: 600;
    font-size: var(--primary-bt-text-size);
    font-family: var(--font-family-primary) !important;
    background-image: linear-gradient(var(--theme-color), var(--theme-color));
    background-size: 0% 0.2em;
    background-position-y: 100%;
    background-position-x: 100%;
    background-repeat: no-repeat;
    transition: background-size var(--transition-duration) ease-in-out, opacity var(--transition-duration) ease-in-out;
}

.aT:hover,
.aT:focus,
.aT:active {
    background-size: 100% 0.2em;
    background-position-x: 0%;
    opacity: 1;
}

h1, h2, h3, h4, h5, h6, p{
    color: var(--current-text-color);
}

body{
    margin: 0;
    background-color: var(--current-back-color);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    max-width: 1280px;
    width: 100%;
}

nav{
    z-index: 100;
    height: 72px;
    max-height: 72px;
    background-color: var(--sec-dark);
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    backdrop-filter: blur(8px);
}

/*
nav *{
    color: var(--light-color) !important;
}
*/

.navComp{
    height: 72px;
}

.onlyMobile{
    visibility: collapse;
    display: none !important;
}

.hideElement{
    visibility: collapse;
    display: none !important;
}

.successColor{
    color: var(--success-color) !important;
}

.errorColor{
    color: var(--error-color) !important;
}

.hv100{
    min-height: 100vh;
    height: fit-content;
}

.wp100{
    width: 100%;
}

.flex{
    display: flex;
}

.plainButton i,
.selectorButton i{
    color: var(--current-text-color);
}

.backFixed{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.selectorButton{
    padding: 16px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: none;
    height: 48px;
}.selectorButton:hover{
    background-color: var(--neutral-color);
}

.plainButton{
    border-radius: var(--border-radius);
    
    padding: var(--padding-button);
    background-color: transparent;
    border: none;
}.plainButton:hover{
    background-color: var(--neutral-color);
}

.textLeft,
.textLeftCenter{
    text-align: left;
}

.textCenter{
    text-align: center;
}

.alignCenter,
.alignCenterStart{
    align-items: center;
}

.alignStart,
.alignStartCenter{
    align-items: start;
}

.justifyCenter{
    justify-content: center;
}

.justifyCenterSelf{
    justify-self: center;
}

.alignCenterSelf{
    align-self: center;
}

.centerFlex{
    align-items: center;
    justify-content: center;
}

.columnFlex, 
.cloumnFlexRow{
    flex-direction: column;
}

.rowFlex, 
.rowFlexColumn{
    flex-direction: row;
}

.paddingMedium{
    padding: var(--padding-medium);
}

.paddingLarge{
    padding: var(--padding-large);
}

.gapLarge{
    gap: var(--gap-large);
}

.gapXLarge{
    gap: var(--gap-x-large)
}

.gapMedium{
    gap: var(--gap-medium);
}

.gapSmall{
    gap: var(--gap-small);
}
.borderBox{
    box-sizing: border-box;
}

.selfAlignStart{
    align-self: flex-start;
}

.spc32{
    height: 32px;
}

.flexGrid{
    flex-wrap: wrap;
}

.overflowHiddenVisible{
    overflow: hidden;
}

.aos-init{
    transition-duration: 1s;
    opacity: 0;
    transform: translateY(32px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.aos-animate {
    
    transition-duration: 1s;
    opacity: 1;
    transform: translateY(0);
}

footer{
    background-color: var(--sec-dark);
    padding: var(--padding-large);
}


/*
footer *{
    color: var(--light-color) !important;
}
*/


.flexExpand{
    flex: 1;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, transparent,var(--theme-color) ,transparent);
}

::-webkit-scrollbar-thumb:horizontal {
    background-image: linear-gradient(to right, transparent,var(--theme-color) ,transparent);
}

@media only screen and (max-width: 700px){
    .onlyMobile{
        display: flex !important;
        visibility: visible;
    }

    .cloumnFlexRow{
        flex-direction: row;
    }

    .rowFlexColumn{
        flex-direction: column;
    }

    .alignCenterStart{
        align-items: start;
    }
    .alignStartCenter{
        align-items: center;
    }
    .overflowHiddenVisible{
        overflow: visible;
    }

    h1{ font-size: var(--mob-h1-text-size); }

    h2{ font-size: var(--mob-h2-text-size); }

    p{
        font-size: var(--mob-p-text-size);
    }

    .textLeftCenter{
        text-align: center;
    }

}