@import url("properties.css");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

h1{ font-size: var(--h1-text-size); }

h2{ font-size: var(--h2-text-size); }

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-family: var(--font-family-primary);
}

p{
    font-size: var(--p-text-size);
    font-family: var(--font-family-secondary);
}

a{
    transition-duration: var(--transition-duration);
    color: var(--current-text-color);
    text-decoration: none;
    opacity: 1;
}a:hover{
    opacity: 0.7;
}

h1, h2, h3, h4, h5, h6, p{
    color: var(--current-text-color);
}

body{
    margin: 0;
    background-color: var(--current-back-color);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    max-width: 1280px;
    width: 100%;
}

nav{
    z-index: 100;
    height: 72px;
    max-height: 72px;
    background-color: var(--sec-dark);
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

nav > *{
    color: var(--light-color) !important;
}

.navComp{
    height: 72px;
}

.onlyMobile{
    visibility: collapse;
}

.hideElement{
    visibility: collapse;
}

.successColor{
    color: var(--success-color) !important;
}

.hv100{
    min-height: 100vh;
    height: fit-content;
}

.wp100{
    width: 100%;
}

.flex{
    display: flex;
}

.textLeftCenter{
    text-align: left;
}

.alignCenter,
.alignCenterStart{
    align-items: center;
}

.alignStart,
.alignStartCenter{
    align-items: start;
}

.justifyCenter{
    justify-content: center;
}

.justifyCenterSelf{
    justify-self: center;
}

.alignCenterSelf{
    align-self: center;
}

.centerFlex{
    align-items: center;
    justify-content: center;
}

.columnFlex, 
.cloumnFlexRow{
    flex-direction: column;
}

.rowFlex, 
.rowFlexColumn{
    flex-direction: row;
}

.paddingMedium{
    padding: var(--padding-medium);
}

.paddingLarge{
    padding: var(--padding-large);
}

.gapLarge{
    gap: var(--gap-large);
}

.gapMedium{
    gap: var(--gap-medium);
}

.borderBox{
    box-sizing: border-box;
}

.selfAlignStart{
    align-self: flex-start;
}

.spc32{
    height: 32px;
}

.overflowHiddenVisible{
    overflow: hidden;
}

.aos-init{
    transition-duration: 1s;
    opacity: 0;
    transform: translateY(32px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.aos-animate {
    
    transition-duration: 1s;
    opacity: 1;
    transform: translateY(0);
}

.boxFurlibre {
    border: solid 4px var(--theme-color);
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    aspect-ratio: 1/1;
    
}


.flexExpand{
    flex: 1;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, transparent,var(--theme-color) ,transparent);
}

::-webkit-scrollbar-thumb:horizontal {
    background-image: linear-gradient(to right, transparent,var(--theme-color) ,transparent);
}

@media only screen and (max-width: 700px){
    .onlyMobile{
        visibility: visible;
    }

    .cloumnFlexRow{
        flex-direction: row;
    }

    .rowFlexColumn{
        flex-direction: column;
    }

    .alignCenterStart{
        align-items: start;
    }
    .alignStartCenter{
        align-items: center;
    }
    .overflowHiddenVisible{
        overflow: visible;
    }

    h1{ font-size: var(--mob-h1-text-size); }

    h2{ font-size: var(--mob-h2-text-size); }

    p{
        font-size: var(--mob-p-text-size);
    }

    .textLeftCenter{
        text-align: center;
    }

}