<footer class="flex columnFlex justifyCenter alignCenter borderBox">
    <div class="flex flexGrid justifyCenter gapLarge paddingMedium wp100">
        
        <div class="flex columnFlex alignCenter gapMedium flexExpand paddingLarge">
            <h2>Social</h2>
            <a href="https://x.com/SamMahonri" target="_blank" class="aT"><i class="fa-brands fa-square-x-twitter"></i>Twitter (@SamMahonri)</a>
        </div>
        <div class="flex columnFlex alignCenter gapMedium flexExpand paddingLarge">
            <h2>Transparência</h2>
            <a href="https://github.com/Furlibre/FurlibreWeb" target="_blank" class="aT"><i class="fa-solid fa-code"></i>Código fonte do site</a>
            <a href="#" target="_blank" class="aT"><i class="fa-solid fa-cookie-bite"></i>Política de Cookies</a>
        </div>
        <div class="flex columnFlex alignCenter gapMedium flexExpand paddingLarge">
            <h2>Apoie</h2>
            <a href="#" target="_blank" class="aT"><i class="fa-brands fa-patreon"></i>Patreon</a>

        </div>
        
    </div>
    
    <p style="opacity: 0.5;" class="textCenter">© 2024 Todos os direitos reservados - Projeto Furlibre</p>
</footer>